
<div class="header">
  <h1 class="application-title">Application | <%= @submission.application.title %></h1>
   <% if @submission.application.details.present? %>
      <p><%= @submission.application.details %></p>
    <% end %>
</div>

<% @submission.submission_sections.each.with_index do |section| %>
  <div class="section">
    <h3 class="section-title"><%= section.title %></h3>
    <% if section.details.present? %>
      <p><%= section.details %></p>
    <% end %>
    <div class="section-content"> 
      <table>
        <% section.submission_rows.each do |row| %>
            <% row.submission_columns.each_slice(4).each do |row_columns| %>
              <tr> 
                  <% row_columns.each do |column|%>
                    <td colspan="<%= 4 / row_columns.length %>">
                      <p>
                        <strong><%= column.filled_input.label %>:</strong><br/>
                        <%= column.filled_input.value %>
                      </p>
                    </td>
                  <% end %>
              </tr>
            <% end %>
        <% end %>
      </table>
    </div>
    <div style="margin-top: 30px;">
      <h3><%= sanitize(@submission.application.terms) %></h3>
      <h3><%= sanitize(@submission.application.policies) %></h3>
      <table cellspacing="0">
        <tr>
            <td style="width: 130px;"><h3>Signature:</h3></td>
            <td>
              <div style="width: 150px; margin-top: 30px;">
                <img src="<%= @submission.signature %>" style="width: 100%; height: auto;" />
              </div>
            </td>
        </tr>
      </table>
      
    </div>
  </div>
<% end %>
