
<div class="header">
  <h1 class="application-title">Application | <%= @submission.application.title %></h1>
   <% if @submission.application.details.present? %>
      <p><%= @submission.application.details %></p>
    <% end %>
</div>

<% @submission.submission_sections.each.with_index do |section| %>
  <div class="section">
    <h3 class="section-title"><%= section.title %></h3>
    <% if section.details.present? %>
      <p><%= section.details %></p>
    <% end %>
    <div class="section-content"> 
      <table>
        <% section.submission_rows.each do |row| %>
            <% row.submission_columns.each_slice(4).each do |row_columns| %>
              <tr> 
                  <% row_columns.each do |column|%>
                    <td>
                      <p>
                        <strong><%= column.filled_input.label %></strong><br/>
                        <%= column.filled_input.value %>
                      </p>
                    </td>
                  <% end %>
              </tr>
            <% end %>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
